body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #e6b9ca;
  color: #333;
}
.section {
  padding: 80px 20px;
  text-align: center;
}
.section h2 {
  font-size: 2rem;
  color: #ff4d88;
  margin-bottom: 20px;
}
.skills-grid {
  display: grid;
  margin-top: 30px;
}

.skill {
  background: #a17b89;
  padding: 15px 20px;
  border-radius: 15px;
  font-weight: 600;
}
.skill:hover {
  background: #cd657f;
}
footer {
  background: #ff7eb3;
  color: white;
  text-align: center;
  padding: 15px;
  font-weight: 500;
}