.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ff9ecb;
  align-items: center;
  padding: 15px 50px;
  
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  
}

.nav-links li a:hover {
  color: #ffeaf5;
}
.hero, .section {
  margin-top: 60px;
}